<div class="lcs-container">
    <div class="lcs-header text-center">
        <div>
            <button class="btn btn-default btn-lg lcs-header-home-btn"
                    ng-click="goHome()">
                Home
            </button>
        </div>

        <div>
            <img class="lcs-header-icon" src="/static/img/logo_quarter.png">
        </div>

        <span class="lcs-header-text"></span>
    </div>

    <div class="lcs-body text-center">
        <div class="et-filters-container">
            <p class="et-filters-title">Filters:</p>

            <div class="et-filters-btn-wrapper">
                <button class="btn btn-lg btn-default" ng-click="filterState='All'" ng-class="{'filter-selected': filterState === 'All'}">
                    All
                </button>
            </div>

            <div class="et-filters-btn-wrapper">
                <button class="btn btn-lg btn-default" ng-click="filterState='Unmatched'" ng-class="{'filter-selected': filterState === 'Unmatched'}">
                    Unmatched
                </button>
            </div>

            <div class="et-filters-btn-wrapper">
                <button class="btn btn-lg btn-default" ng-click="filterState='Matched'" ng-class="{'filter-selected': filterState === 'Matched'}">
                    Matched
                </button>
            </div>
        </div>
        <div class="et-all-outer-container">
            <p class="et-all-title">All Tutees:</p>
            <div class="et-all-inner-container">
                <table class="table">
                    <tr>
                        <th>Action</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Grade</th>
                        <th>SAT Help?</th>
                        <th>Subjects</th>
                        <th>Parent Name</th>
                        <th>Phone</th>
                        <th>Register Date</th>
                        <th>Extra Info</th>
                    </tr>

                    <tr ng-repeat="tutor in tuts | filter:filterTutees | orderBy : 'user.last_name'" class="text-left et-item-row">
                        <td>
                            <div class="et-item-btn-wrapper">
                                <button class="btn btn-sm btn-default" ng-click="editTutee(tutor)">Edit</button>
                            </div>
                            <div class="et-item-btn-wrapper">
                                <button class="btn btn-sm btn-danger" ng-click="deleteTutee(tutor)">Delete</button>
                            </div>
                        </td>
                        <td>{{ tutor.user.first_name }} {{ tutor.user.last_name }}</td>
                        <td>{{ tutor.gender }}</td>
                        <td>{{ tutor.grade }}</td>
                        <td>{{ tutor.sat_help }}</td>
                        <td>
                            <span ng-repeat="subject in tutor.subjects track by $index">
                                {{ subject.name }}<span ng-if="$index < tutor.subjects.length - 1">,</span>
                            </span>
                        </td>
                        <td>{{ tutor.parent_name }}</td>
                        <td>{{ tutor.phone }}</td>
                        <td>Date</td>
                        <td>{{ tutor.extra_info }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>