<div class="lcs-container">
    <div class="lcs-header text-center">
        <div>
            <button class="btn btn-default btn-lg lcs-header-home-btn"
                    ng-click="logout()">
                Logout
            </button>
        </div>

        <div>
            <img class="lcs-header-icon" src="/static/img/logo_quarter.png">
        </div>

        <span class="lcs-header-text"></span>
    </div>

    <div class="lcs-body text-center">
        <div ng-if="is_staff" class="iv-info-admin-links text-center">
            <p class="iv-admin-options-title">Administrator Options:</p>

            <div>
                <button class="btn btn-default btn-lg iv-admin-options-btn">
                    Make Matches
                </button>
            </div>

            <div>
                <button class="btn btn-default btn-lg iv-admin-options-btn">
                    View/Edit Tutees
                </button>
            </div>

            <div>
                <button class="btn btn-default btn-lg iv-admin-options-btn">
                    View/Edit Tutors
                </button>
            </div>

            <div>
                <button class="btn btn-default btn-lg iv-admin-options-btn">
                    Manage Admins
                </button>
            </div>

            <div>
                <button class="btn btn-default btn-lg iv-admin-options-btn">
                    View Matches
                </button>
            </div>
        </div>
        <div class="iv-info-container">
            <div class="iv-info-wrapper text-left">
                <strong>Name: <span class="iv-info-val">{{ tutee.info.user.first_name }} {{ tutee.info.user.last_name }}</span></strong>
                <p>Username: <span class="iv-info-val">{{ tutee.info.user.username }}</span></p>
                <p>Email: <span class="iv-info-val">{{ tutee.info.user.email }}</span></p>
                <p ng-if="tutee.info.tutee_phone">Tutee Phone: <span class="iv-info-val">{{ tutee.info.tutee_phone }}</span></p>
                <p ng-if="tutee.info.phone">Phone: <span class="iv-info-val">{{ tutee.info.phone }}</span></p>
                <p>SAT Help? <span class="glyphicon iv-info-val"
                                   ng-class="{true: 'glyphicon-ok', false: 'glyphicon-remove'}[tutee.info.sat_help]">
                </span>
                </p>
                <p>
                    Subjects:
                    <span class="iv-info-val">
                        <ul>
                            <li ng-repeat="subject in tutee.info.subjects">{{ subject.name }}</li>
                        </ul>
                    </span>
                </p>
                <p ng-if="tutee.info.grade">Grade: <span class="iv-info-val">{{ tutee.info.grade }}</span></p>
                <p ng-if="tutee.info.parent_name">Parent Name: <span class="iv-info-val">{{ tutee.info.parent_name }}</span></p>
                <p ng-if="tutee.info.parent_phone">Parent Phone: <span class="iv-info-val">{{ tutee.info.parent_phone }}</span></p>
                <p>Extra Info: <span class="iv-info-val">{{ tutee.info.extra_info }}</span></p>
            </div>
        </div>
    </div>
</div>