<div class="modal-header">
    <h3 class="modal-title">Edit Emails</h3>
</div>
<div class="modal-body">
    <div class="mm-modal-tmpl-outer-container">
        <div class="mm-modal-tmpl-inner-container">
            <p>Tutor Email:</p>
            <textarea class="mm-modal-textarea" ng-model="tutorEmail">

            </textarea>
        </div>

        <div class="mm-modal-tmpl-inner-container">
            <p>Tutee Email:</p>
            <textarea class="mm-modal-textarea" ng-model="tuteeEmail">

            </textarea>
        </div>
    </div>
    <div class="mm-modal-hidden-render-area">
        <!-- Used to render email templates behind the scenes -->
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="matchAndSend()">Match and Send</button>
    <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
</div>
