<div class="lcs-container">
    <div class="lcs-header text-center">
        <div>
            <button class="btn btn-default btn-lg lcs-header-home-btn"
                    ng-click="goToHome()">
                Home
            </button>
        </div>

        <div>
            <img class="lcs-header-icon" src="/static/img/logo_quarter.png">
        </div>

        <span class="lcs-header-text"></span>
    </div>

    <div class="lcs-body text-center">
        <p class="ty-big-banner">Thanks!</p>

        <p class="ty-small-banner">We'll be in touch via email shortly!</p>

        <button class="btn btn-default btn-lg" ng-click="goToInfo()">
            Login to view your information
        </button>
    </div>
</div>