<span>
Dear {{ tutor.user.first_name }},

We've set you up with a student to tutor. {{ tutee.user.first_name }} {{ tutee.user.last_name }} is in grade {{ tutee.grade }} and needs tutoring in <span ng-repeat="subject in tutee.subjects track by $index">{{ subject.name }}<span ng-if="$index < tutee.subjects.length - 1">, </span></span> . Please contact {{ tutee.parent_name }} at {{ tutee.parent_phone }} or {{ tutee.email }} as soon as possible to set up a time to tutor that is mutually convenient. If for some reason you are unable to tutor or the match is not successful please let us know as soon as possible!

Just as a reminder, tutoring will take place once a week for one hour in either the Tisch Library or Campus Center.

Also, please e-mail us as soon as possible with the DAY, TIME, and LOCATION of your tutoring appointment.

You will find our tutoring manual below:

LCS Tutoring Information Packet

You are expected to read it before starting to tutor. It has tips and advice, but you can also e-mail us with any questions throughout the year. Some packet highlights:
Show up on time and prepared to each session.
If you are unable to make it on a specific day, it is your responsibility to call the parent and inform them as early as possible.
Showing up prepared means that you are not only in the right state (sober, focused, and enthusiastic) but also have the right tools to tutor (look up topics before sessions if you need a refresher!).

Thanks for tutoring!
</span>