<div class="tutee-signup-container">
    <div class="tutee-signup-header text-center">
        <div>
            <button class="btn btn-default btn-lg tutee-signup-header-home-btn"
                    ng-click="goToHome()">
                Home
            </button>
        </div>

        <div>
            <img class="tutee-signup-header-icon" src="/static/img/logo_quarter.png">
        </div>

        <span class="tutee-signup-header-text">Please fill out this form so we can match you accordingly:</span>
    </div>

    <div class="tutee-signup-body text-center">
        <div class="tutee-signup-form-container text-left">
            <form class="form-horizontal" ng-submit="submitForm()">

                <div class="tutee-signup-item tutee-error-item text-center alert alert-danger" ng-if="errors"
                        ng-style='{height: (50 + 30 * errors.length + "px")}'>
                    <p>Errors:</p>
                    <div ng-repeat="error in errors">
                        <p>
                            {{ error.field }}: {{ error.message }}
                        </p>
                    </div>
                </div>

                <div class="tutee-signup-item">
                    <label class="control-label" for="firstname">First Name:</label>
                    <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" ng-model="formData.firstName"/>
                </div>

                <div class="tutee-signup-item">
                    <label class="control-label" for="lastname">Last Name:</label>
                    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" ng-model="formData.lastName"/>
                </div>

                <div class="tutee-signup-item">
                    <label class="control-label" for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" ng-model="formData.username"/>
                </div>

                <div class="tutee-signup-item">
                    <label class="control-label" for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" ng-model="formData.password"/>
                </div>

                <div class="tutee-signup-item">
                    <label class="control-label" for="confirmpassword">Password:</label>
                    <input type="password" id="confirmpassword" name="confirmpassword" class="form-control"
                           placeholder="Confirm Password" ng-model="formData.confirmPassword"/>
                </div>

                <div class="tutee-signup-item">
                    <label class="control-label" for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email"
                            ng-model="formData.email"/>
                </div>

                <div class="tutee-signup-item">
                    <label class="control-label" for="class_year">YOG:</label>
                    <select name="class_year" id="class_year" class="form-control" ng-model="formData.class_year">
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                    </select>
                </div>

                <div class="tutee-signup-item">
                    <label class="control-label" for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone"
                            ng-model="formData.phone"/>
                </div>

                <div class="tutee-signup-item">
                    <label class="control-label" for="username">SAT Help?</label>
                    <input type="checkbox" id="sathelp" name="sathelp" ng-model="formData.satHelp"/>
                </div>

                <div class="tutee-signup-item">
                    <label class="control-label" for="spec_needs">Are you comfortable tutoring a child with special needs?</label>
                    <input type="checkbox" id="spec_needs" name="spec_needs" ng-model="formData.spec_needs"/>
                </div>

                <div class="tutee-signup-item tutee-signup-item-subjects">
                    <label class="control-label" for="subjects">Subjects:</label>
                    <div id="subjects">
                        <div ng-repeat="subject in subjectChoices">
                            <label class="control-label" for="subject{{ subject.id }}">{{ subject.name }}</label>
                            <input type="checkbox" id="subject{{ subject.id }}"
                                   ng-change="toggleSubjectSelection(subject)"
                                   ng-model="subjectChecked[subject.id]"/>
                        </div>
                    </div>
                </div>

                <div class="tutee-signup-item tutee-signup-item-gender">
                    <label class="control-label">
                        Gender:
                    </label>
                    <input type="text" id="genderothertext" name="genderothertext" class="form-control"
                           placeholder="Gender" value="" ng-model="formData.gender"/>
                </div>

                <!--<div class="tutee-signup-item" ng-init="grade">-->
                    <!--<label class="control-label" for="grade">Grade:</label>-->
                    <!--<select id="grade" name="grade" ng-model="formData.grade">-->
                        <!--<option value="1">1st Grade</option>-->
                        <!--<option value="2">2nd Grade</option>-->
                        <!--<option value="3">3rd Grade</option>-->
                        <!--<option value="4">4th Grade</option>-->
                        <!--<option value="5">5th Grade</option>-->
                        <!--<option value="6">6th Grade</option>-->
                        <!--<option value="7">7th Grade</option>-->
                        <!--<option value="8">8th Grade</option>-->
                        <!--<option value="9">9th Grade</option>-->
                        <!--<option value="10">10th Grade</option>-->
                        <!--<option value="11">11th Grade</option>-->
                        <!--<option value="12">12th Grade</option>-->
                    <!--</select>-->
                <!--</div>-->

                <div class="tutee-signup-item tutee-signup-item-gender">
                    <label class="control-label">Ages:</label>
                    <div class="contains-radio">
                        <label class="control-label" style="width: 33%; text-align: center;">
                            <input type="checkbox" id="grades1-5" name="grades15" class="form-control" ng-model="formData.grades15"/>
                            Grades 1-5
                        </label>
                        <label class="control-label" style="width: 33%; text-align: center;">
                            <input type="checkbox" id="grades6-8" name="grades68" class="form-control" ng-model="formData.grades68"/>
                            Grades 6-8
                        </label>
                        <label class="control-label" style="width: 33%; text-align: center;">
                            <input type="checkbox" id="grades9-12" name="grades912" class="form-control" ng-model="formData.grades912"/>
                            Grades 9-12
                        </label>
                    </div>
                </div>

                <div class="tutee-signup-item tutee-signup-item-w-select">
                    <label class="control-label" for="extrainfo">Extra Info:</label>
                    <textarea id="extrainfo" name="extrainfo" class="form-control" placeholder="Extra Information"
                              ng-model="formData.extraInfo"></textarea>
                </div>

                <div class="tutee-signup-submit-item">
                    <input type="submit" value="Submit" class="btn btn-lg btn-default">
                </div>
            </form>
        </div>
    </div>
</div>