@import 'colors.styl'
@import 'mixins.styl'
@import 'defaults.styl'

.et-filters-container
  width 30%
  min-width 160px
  float left

.et-filters-title
  font-size 24px
  margin-top 96px

.et-all-outer-container
  width 67%
  min-width 400px
  float left

.et-all-outer-container-admin
  width 67%
  min-width 400px
  margin-left auto
  margin-right auto

.et-all-title
  font-size 24px

.et-all-inner-container
  width 100%
  height 100%
  max-height 600px
  overflow-y auto

  border 10px solid bg-border-color
  border-radius default-border-radius

.et-item-row
  td
    vertical-align middle !important

.et-item-btn-wrapper
  width 60px
  margin-bottom 4px

  button
    width 100%

.et-filters-btn-wrapper
  width 192px
  margin-bottom 12px
  margin-left auto
  margin-right auto

  button
    width 100%

.et-add-new-admin-btn
  margin-top 10px