@import 'colors.styl'
@import 'mixins.styl'
@import 'defaults.styl'

.lcs-header
  height 100px
  width 100%

.lcs-header-icon
  margin-top 10px

.lcs-header-text
  margin-top 10px
  font-size 24px

.lcs-header-home-btn
  position absolute
  right 20px
  top 20px

.ty-big-banner
  font-size 48px
  padding-top 32px

.ty-small-banner
  font-size 24px
  padding-top 16px