@import 'colors.styl'
@import 'mixins.styl'
@import 'defaults.styl'

.iv-info-container
  width 450px
  height auto
  margin-right auto
  margin-left auto

  border-radius default-border-radius
  border 3px solid bg-border-color

  div.iv-info-wrapper
    width 300px
    margin auto

    font-size 16px

    p, strong
      margin-top 20px

    .iv-info-val
      float right