@import 'colors.styl'
@import 'mixins.styl'
@import 'defaults.styl'

.lp-container
  background-image url('../img/background_img.png')
  background-size cover

  height 100%
  color white

.lp-header
  background-color primary-color-opaque
  width 100%
  font-size 36px
  padding-bottom 4px
  padding-top 4px

.lp-logo
  padding-top 50px
  margin auto

.lp-login
  width 400px
  margin-left auto
  margin-right auto

  border-radius default-border-radius

.lp-login-box
  margin-top 50px
  background-color secondary-color
  padding 5px
  padding-left 10px
  padding-right 10px

  h1
    padding-top 0

lp-signup-btn-height = 50px

.lp-tutee-btn
  margin-top 15px
  height lp-signup-btn-height

.lp-tutor-btn
  margin-top 15px
  height lp-signup-btn-height