@import 'colors.styl'
@import 'mixins.styl'
@import 'defaults.styl'

.tutee-signup-container
  height 100%

.tutee-signup-header
  height 100px
  width 100%

.tutee-signup-header-icon
  margin-top 10px

.tutee-signup-header-text
  margin-top 10px
  font-size 24px

.tutee-signup-header-home-btn
  position absolute
  right 20px
  top 20px

.tutee-signup-body
  background-color bg-color
  height 100%

.tutee-signup-form-container
  width 450px
  height auto
  margin-right auto
  margin-left auto

  form
    border-radius default-border-radius
    border 3px solid bg-border-color

.tutee-signup-item
  padding-top 10px
  height 45px

  label
    float left
    width 25%

  input, select, textarea
    float left
    width 70% !important
    margin-left 5px

  select
    margin-top 10px

  input[type="checkbox"]
    margin-top 10px

  .contains-radio
    width 300px !important
    float left
    margin-left 5px

.tutee-signup-item-subjects
  height 250px

  #subjects
    margin-left 95px
  div
    float left
    margin-left 10px
  input[type="checkbox"]
    width 20px !important
  label
    width 120px
    float left

.tutee-signup-item-w-select
  height 80px

.tutee-signup-item-gender
  height 95px

.tutee-signup-submit-item
  text-align center
  margin-bottom 5px

  input
    margin auto